body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
}

/***** HEADER *****/
.header {
    height: 100vh;
    background: url('../images/bg/bg.jpg');
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
}

.header .container {
    width: 800px;
}

.header .button-box {
    margin-top: 50px;
}

.header .button-box .btn {
    border-radius: 40px;
    padding: 10px 30px;
    margin: 10px;
}

/***** ARROW DONW *****/
.arrow-down {
    position: absolute;
    top: 90vh;
    left: 50%;
}

.arrow-down .fas {
    color: #fff;
    animation: floating-arrow 1.6s infinite ease-in-out 0s;
}

@keyframes floating-arrow {
    from {
        transform: translateY(0)
    }

    65% {
        transform: translateY(11px);
    }

    to {
        transform: translateY(0);
    }
}


/**** FREE DOWNLOAD ****/
.free-download {
    margin-top: 40px;
    padding: 80px 0px;
    background-color: rgb(226, 225, 225);
}

.free-download .container {
    width: 80%;
}

.free-download .container p {
    font-size: 24px;
}

.free-download .container .btn {
    border-radius: 40px;
    padding: 10px 30px;
    margin: 10px;
}

/**** CUSTOM NAVBAR *****/
.navbar-light .navbar-toggler {
    border-color: transparent !important;
}

.navbar-light .navbar-toggler:focus {
    outline: none;
    background: transparent !important;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    margin-top: 4px;
    /** transform**/
    transform: rotate(0deg) translate(0px, 0px);
    transition: all ease 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: all ease 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: all ease 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: all ease 0.2s;
}

.navbar-light .navbar-brand{
    color: #fff;
    font-size: 24px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
}

.bg-light {
    background-color: rgba(204, 9, 172) !important;
    transition: background-color .8s ease-in-out;
}

.fixed-top {
    z-index: 999999;
}

/**** SLIDE OUT MENU ****/
.panel-menu {
    background-color: rgba(9, 204, 84, 0.9);
    overflow: hidden;
    position: fixed;
    width: 250px;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.panel-menu header {
    margin: 40px 0px;
    text-align: center;
}

.panel-menu header img {
    width: 150px;
}

.panel-menu h4 {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.panel-menu ul li {
    text-align: center;
}

.panel-menu ul li a {
    color: #fff;
}

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    /* will-change: transform; */
    background-color: #FFF;
    /* A background-color is required */
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

@media screen and (min-width:978px){
    a.navleft {
        display: none;
    }
}

@media screen and (min-width:320px){
    a.navleft {
        color: #fff;
        position: fixed;
    }
    
    .fa-bars {
        font-size: 20px;
    }

    .navbar-brand{
        margin-left: 40px;  
    }

    /*** ซ่อนเมนูหลักของ bootstrap ไว้หากต้องการใช้งานก็ display block***/
    .navbar-toggler{
        display: block;
    }
}
